@import url("reset.css");

.content-box{
    height: inherit;  /*height: 100%;*/ 
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/*----------- 범용적인 것은 위에 ------ 특화된 것은 아래에 ------------*/
#header{
    height: 70px;
}
    
#visual{
    height: 171px;
}
#body{ /*가변 길이를 설정해야 한다.*/
    height: 300px;
}
#footer{
    height: 100px;
}
